@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f5f7fa;
  --foreground: #282828;
  --accent: #f72793;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}
